@model BO.Samourai

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    @Html.Partial("_SamouraiDetails")

    @using (Html.BeginForm("DetacherArme", "Samourais"))
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="hidden" name="id" value="@Model.Id" />
        <input type="submit" value="DetacherArme" class="btn btn-default" /> |
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </div>
    }
</div>